[submodule "Libraries/TimerOne"]
	path = Libraries/TimerOne
	url = https://github.com/PaulStoffregen/TimerOne.git
[submodule "Libraries/Wire"]
	path = Libraries/Wire
	url = https://github.com/qollin/Wire.git
[submodule "Libraries/PinBank"]
	path = Libraries/PinBank
	url = https://github.com/qollin/PinBank.git
[submodule "Libraries/RotaryEncoder"]
	path = Libraries/RotaryEncoder
	url = https://github.com/qollin/RotaryEncoder.git
