[submodule "Libraries/PinBank"]
	path = Libraries/PinBank
	url = https://github.com/qollin/PinBank.git
[submodule "Libraries/RotaryEncoder"]
	path = Libraries/RotaryEncoder
	url = https://github.com/qollin/RotaryEncoder.git
