[submodule "Libraries/Adafruit-MCP23017-Arduino-Library"]
	path = Libraries/Adafruit-MCP23017-Arduino-Library
	url = https://github.com/adafruit/Adafruit-MCP23017-Arduino-Library.git
[submodule "Libraries/Adafruit_NeoPixel"]
	path = Libraries/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
[submodule "Libraries/TimerOne"]
	path = Libraries/TimerOne
	url = https://github.com/PaulStoffregen/TimerOne.git
[submodule "Libraries/Wire"]
	path = Libraries/Wire
	url = https://github.com/qollin/Wire.git
[submodule "ArduinoCore"]
	path = ArduinoCore
	url = https://github.com/qollin/ArduinoCore.git
